<!DOCTYPE html>
<html>
  <head>
    <title>S.O.S Guinchos</title>
    <link rel='stylesheet' href='/stylesheets/usuarios.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
  </head>
  <section>
    <div class="circle">

    </div>
    <input type="checkbox" id="check">
    <Header>
        <h2> <a href="#" class="logo"></a>Logo</h2>
        <div class="navigation">
            <a href="#">Home</a>
            <a href="#">Login</a>
            <a href="#">Serviços</a>
            <a href="#">Quem somos</a>
        </div>
        <label for="check">
            <i class="fas fa-bars menu-btn"></i>
            <i class="fas fa-times close-btn"></i>
        </label>
</Header>



</div>


<div class="content">
    <div class="textBox">
        <h2>Conforto<br>E <span>Segurança</span></h2>
        <p>A S.O.S Vehicle é uma plataforma onde você pode solicitar, a qualquer momento, um caminhão guincho para recolger seu veiculo que parou de funcionar ou sofreu acidente. Nossos motoristas parceiros recebem as corridas e tem liberdade para escolher o valor cobrado com base em uma ficha preenchida pelo cliente com informações do local e estado do veiculo. A S.O.S Vehicle não possuí e não possuirá nenhum guincho em seu nome com atividade na plataforma.</p>

    </div>
    <div class="spanBox">
        <h2>Venha fazer parte da <br><span>S.O.S</span></h2>
    </div>
</div>
<ul class="thumb">
    <li><button class="btn1"> Faça Login</button></li>
    <li><button class="btn1">Preciso de socorro</button></li>
    </ul>
    <div class="social-media">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-linkedin"></i>
        <i class="fab fa-instagram"></i>
    </div>
</section>

</body>
</html>
